body {
    background-color: aliceblue;
    animation-name: animeback;
    animation-iteration-count: infinite;
    animation-duration: 4s;
}

@keyframes animeback {
    0% {
        background-color: white
    }
    50% {
        background-color: #f8d7da;
    }
    100% {
        background-color: white
    }
}


h1 {
    margin: 20px auto 20px auto;
    text-align: center;
}

form {
    margin: auto;
    max-width: 500px;
}